.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContainer {
  position: relative;
  width: 488px;
  height: 260px;
  border: 0;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 16px 50px 0px #0000003d;
  background: #fff;
  font-family: "Inter", sans-serif;
  color: #323749;
}

.modalContainer h1 {
  font-weight: 700;
  font-size: 24px;
}

.modalContainer p {
  font-weight: 400;
  font-size: 16px;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 10px;
  border: 0;
  background: none;
  cursor: pointer;
}

.closeIcon {
  width: 16px;
  height: 16px;
  color: #323749;
}
