.notification {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 242px;
  height: 52px;
  padding: 10px;
  border: 0;
  border-radius: 8px 8px 0 0;
  box-shadow: 0px 16px 50px 0px #0000003d;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background: #ffffff;
  color: #323749;
}

.notificationText {
  width: 190px;
  max-height: 3em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 10px;
  display: flex;
  align-items: center;
  border: 0;
  background: none;
  cursor: pointer;
}

.closeIcon {
  width: 16px;
  height: 16px;
  color: #323749;
}
