.wrapper {
  display: flex;
  width: 100%;
  gap: 12px;
  align-items: center;
  padding: 20px;
}

.input {
  flex: 1;
  height: 36px;
  padding: 0 12px;

  border-radius: 8px;
  border: 1px solid #dedfe5;

  font-size: 14px;
  outline: none;
}

.input:focus {
  border-color: #00ae1c;
  box-shadow: 0 0 0 2px rgba(0, 174, 28, 0.15);
}
